:root {
  --fontMain: 'Rubik Doodle Shadow', sans-serif;
  --fontAccent: 'Roboto', sans-serif;
  --fontSizeBase: 8px;
  --containerWidth: 1600px;
  --headerHeight: 12.5rem;
  --colorOutlineFocusVisible: #99cc00;

  --colorYellowGreen: #99cc00;
  --colorTeaGreen: #dbefa9;
  --colorJet: #343433;
  --colorDarkMossGreen: #3c6100;
  --colorChartreuse: #d7f701;

  --colorWhite: #fff;
  --colorBlack: #000;
  --colorRed: #f00;
  --colorGrey: #a5a5a5;
}
